@model List<Cliente>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Buscar clientes por DNI</h1>



<h2>Menu:</h2>
<ul>  
    <li>
        <a href="@Url.Action("Listar", "Client")" >
            <span>Mostrar listado de clientes</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Client")" >
            <span>Mostrar listado de clientes</span>
        </a>
    </li>
</ul>