@model Proveedor

<h1>Prueba de traer datos de la DB</h1>
<h2>Nombre Proveedor: @Model.prov_nom</h2>
<h2>CUIL Proveedor: @Model.prov_cuil</h2>
<h2>Direccion Proveedor: @Model.prov_dir</h2>
<h2>Telefono Proveedor: @Model.prov_tel</h2>
