@model AdmStock.Models.Articulo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar este articulo?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_prod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_prod)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="art_id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
